@import "tailwindcss";

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  pointer-events: none; /* Prevents the video from blocking clicks */
}

.search-form-wrapper input::placeholder {
  color: #ffffffc9;
}
